#lightbox{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
	}
#jqlb_loading{
	height:32px;
	background-image:url('images/lightbox/loading.gif');
	background-repeat:no-repeat;				
	background-position:center center; 		
}	
	
#lightbox a img{ border: none; }

#outerImageContainer{
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	}

#imageContainer{
	padding: 10px;
	}

#loading{
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
	}
#hoverNav{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	}
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{
	width: 49%;
	height: 100%;
	background: transparent url('images/lightbox/blank.gif') no-repeat; /* Trick IE into showing hover */
	display: block;
	}
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url('images/lightbox/prev.gif') left 50% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url('images/lightbox/next.gif') right 50% no-repeat; }

/*** START : next / previous text links ***/
#nextLinkText, #prevLinkText{
color: #FF9834;
font-weight:bold;
text-decoration: none;
}
#nextLinkText{
padding-left: 20px;
}
#prevLinkText{
padding-right: 20px;
}
/*** END : next / previous text links ***/
/*** START : added padding when navbar is on top ***/

.ontop #imageData {
    padding-top: 5px;
}

/*** END : added padding when navbar is on top ***/

#lightbox #toolbar{
	position: absolute;
	right: 0;
	top: -50px;
	width: 200px;
	height: 200px;
	line-height: 1.4em;
	text-align: left;
	}
#jqlb_closelabel{
	height:26px;
	background-image:url('images/lightbox/close.gif');
	background-repeat:no-repeat;				
	background-position:left center;
	padding-left: 30px; 
}	
	
#jqlb_showbig{
	height:26px;
	background-image:url('images/lightbox/big.gif');
	background-repeat:no-repeat;				
	background-position:left center;
	padding-left: 30px; 
}	
#toolbar #numberDisplay{   color: #FF9900; width: 200px; }
#toolbar #bottomNavClose{ width: 100px; float: right;  padding-bottom: 0.7em;	 }
#toolbar #showBig{ width: 100px; float: right;  padding-bottom: 0.7em;	}
#toolbar a  div{color: #aaa; font-size: 0.9em; font-weight: 700; line-height: 26px; }
#toolbar a:hover div{color: #fff; }
#toolbar a:hover {background: none; }

#helpDisplay { 	position: absolute; 	left: 0; font-size: 0.9em; 	top: -50px; color: #aaa; width: 240px; 
	height: 26px; line-height: 26px;  }

#imageDataContainer{
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	}

#imageData{
	padding:0 10px;
	}
#imageData #imageDetails{ width: 85%; float: left; text-align: left; 
	line-height: 1.4em;padding-bottom: 10px; }	

#overlay{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
	background-color: #000;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	display: none;
	}
	

.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

* html>body .clearfix {
	display: inline-block; 
	width: 100%;
	}

* html .clearfix {
	/* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */
	}	

#lightboxIframe {
	display: none;
}	
