.theme-callout{
	margin-top:20px;
}
.bm_wrap{
	width: 90%;
}

.bm_section{
	border:1px solid #ddd;
	border-bottom:0;
	background:#f9f9f9;
}

.bm_opts label{
	font-size:12px;
	font-weight:700;
	width:20%;
	display:block;
	float:left;	
}
.bm_input {
	padding:30px 10px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #fff;
}
.bm_opts small{
	display:block;
	float:right;
	width: 35%;
	color:#999;
}
.bm_opts input[type="text"], .bm_opts select{
	width:280px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1em;
	background:#f3f3f3;
}
.bm_input input:focus, .bm_input textarea:focus{
		background:#fff;
}
.bm_input textarea{
	width:280px;
	height:175px;
	font-size:12px;
	padding:4px;
	color:#333;
	line-height:1.5em;
	background:#f3f3f3;
}
.bm_title h3 {
	cursor:pointer;
	font-size:1em;
	text-transform: uppercase;
	margin:0;
	font-weight:bold;
	color:#232323;
	float:left;
	width:80%;
	padding:14px 4px;
}

.bm_title{
	cursor:pointer;
	border-bottom:1px solid #ddd;
	background:#eee;
	padding:0;
	}

.bm_title h3 img.inactive{
	margin:-8px 10px 0 2px;
	width:32px;
	height:32px;	
	background:url('../images/pointer.png') no-repeat 0 0;
	float:left;
	-moz-border-radius:6px;
	border:1px solid #ccc;
}

.bm_title h3 img.active{
	margin:-8px 10px 0 2px;
	width:32px;
	height:32px;	
	background:url('../images/pointer.png') no-repeat  0 -32px;
	float:left;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border:1px solid #ccc;
}
		
.bm_title h3:hover img{
	border:1px solid #999;
}

.bm_title span.submit{
	display:block;
	float:right;
	margin:0;
	padding:0;
	width:15%;
	padding:14px 0;
}

.clearfix{
	clear:both;
}

.bm_table th, .bm_table td{
	border:1px solid #bbb;
	padding:10px;
	text-align:center;
}

.bm_table th, .bm_table td.feature{
	border-color:#888;
	}

#woo_container .woo-save-popup { position:absolute; -moz-border-radius:12px; background:rgba(0,0,0,0.4); color:#fff; font-size:24px; text-align:center; display:none}

#woo_container .woo-save-save { background:url(../images/happy.png) 20px 50% no-repeat; padding:30px 30px 30px 70px}
#woo_container .woo-save-reset { background:url(../images/warning.png) 20px 50% no-repeat; padding:30px 30px 30px 70px}

.upload_button_div { margin-bottom: 10px;}
.upload_button_div .button { padding:4px 14px;
}
.upload_button_div  .image_reset_button { margin-left:10px}

.upload-error { float:left;color:#666; font-size:10px; font-weight:bold; text-decoration:none; text-shadow:1px 1px 0 #FFFFFF;
				  margin: 0 10px 0 0; padding:3px 10px; background:#FFDFEC; -moz-border-radius:4px}

.reset-button { background:#c77 none !important;color:white!important;text-shadow:0 1px 0 #555 !important;}
.save_bar_top { background: #f3f3f3; border:solid #ccc; border-width:0px 1px 1px 1px; padding: 10px 20px 0px 20px; height: 35px; text-align: right;}
.hide {display:none}

.ajax-loading-img-top { margin: 8px 4px 0; float:left}
.ajax-loading-img-bottom {}

.woo-option-image { max-width:340px; }

#bm_opts_save{ margin: 10px; }

.woo-uploaded-image img{ height: 50px; }