
/*** pagenavi styles ***/
.pagenavi{width:100%;height:36px;line-height:36px;text-align:center;overflow:hidden;padding-top:1em;}
	.pagenavi a{padding:3px 8px;margin:2px;text-decoration:none; }
	.pagenavi a.current{ font-weight: 400;color:#fff;background-color:#83BF73; }

/*** nextgen gallery thumbnails styles ***/
.ngg-gallery-thumbnail-box { 	float: left; }
.ngg-gallery-thumbnail { 	float: left; 	margin-right: 5px; 	text-align: center; }
	.ngg-gallery-thumbnail img { 	background-color:#FFFFFF; 	border:1px solid #A9A9A9; 	display:block;  	margin:4px 0px 4px 5px; 	padding:4px; 	position:relative; }
	.ngg-gallery-thumbnail img:hover { 	background-color: #A9A9A9; } 
	.ngg-gallery-thumbnail span { 	/* Images description */ 	font-size:90%; 	padding-left:5px; 	display:block; }
.ngg-clear { 	clear: both; }

/*** announce ***/
#postmeta{margin: 10px;font-size:12px; line-height: 20px;padding: 10px;  }
	#postmeta a,#postmeta span{ font-size: 12px; }

/*** share ***/
#share{padding:10px 0;font-size:12px; }
	#share,#share a{line-height:16px}
	#share a{display:inline-block;width:16px;height:16px;text-indent:-999em;cursor:pointer;margin-left:5px;background:url(../images/shares.png) no-repeat}
	#share a#facebook-share{background-position:0 0}
	#share a#twitter-share{background-position:0 -16px}
	#share a#delicious-share{background-position:0 -32px}
	#share a#kaixin001-share{background-position:0 -48px}
	#share a#renren-share{background-position:0 -64px}
	#share a#douban-share{background-position:0 -80px}
	#share a#sina-share{background-position:0 -96px}
	#share a#netease-share{background-position:0 -112px}
	#share a#tencent-share{background-position:0 -128px}
	#share a#qzone-share{background-position:0 -144px}
	#share p.tags a{ padding: 0; background:none; text-indent: 0; display: inline; }

/*** related posts ***/
#related-posts{ float: left; padding: 10px 0px; }
	#related-posts h3{  padding:10px 0 3px; font-weight:bold; display:inline;font-size:100%}
	#related-posts li{ border-bottom: none; float:left; width: 285px;height:1.4em; margin: 0 3px; padding-left:10px;white-space:nowrap;overflow:hidden;background:url(../images/dian.jpg) no-repeat  left center; border-bottom:1px dashed #ccc;}
	#related-posts li a{display:block;float:left;height:1.4em;line-height:1.4em; }


/*** commentform buttons and images ***/
#smilie_faces{ width: 320px;   display: none;padding: 10px;}
	#smilie_faces .smilie_faces{cursor: pointer; width: 20px; margin: 2px; }
	#smilie_faces .layout_options {  margin-top: 10px;   }

/*** lightbox styles ***/
#lightbox{ 	position: absolute; 	left: 0; 	width: 100%; 	z-index: 100; 	text-align: center; 	line-height: 0; 	} #jqlb_loading{ 	height:32px; 	background-image:url('../../images/lightbox/loading.gif'); 	background-repeat:no-repeat;					background-position:center center; 		}		#lightbox a img{ border: none; }
#outerImageContainer{ 	position: relative; 	background-color: #fff; 	width: 250px; 	height: 250px; 	margin: 0 auto; 	}
#imageContainer{ 	padding: 10px; 	}
#loading{ 	position: absolute; 	top: 40%; 	left: 0%; 	height: 25%; 	width: 100%; 	text-align: center; 	line-height: 0; 	} #hoverNav{ 	position: absolute; 	top: 0; 	left: 0; 	height: 100%; 	width: 100%; 	z-index: 10; 	} #imageContainer>#hoverNav{ left: 0;} #hoverNav a{ outline: none;}
#prevLink, #nextLink{ 	width: 49%; 	height: 100%; 	background: transparent url('../images/lightbox/blank.gif') no-repeat; /* Trick IE into showing hover */ 	display: block; 	} #prevLink { left: 0; float: left;} #nextLink { right: 0; float: right;} #prevLink:hover, #prevLink:visited:hover { background: url('../images/lightbox/prev.gif') left 50% no-repeat; } #nextLink:hover, #nextLink:visited:hover { background: url('../images/lightbox/next.gif') right 50% no-repeat; }
/*** START : next / previous text links ***/ #nextLinkText, #prevLinkText{ color: #FF9834; font-weight:bold; text-decoration: none; } #nextLinkText{ padding-left: 20px; } #prevLinkText{ padding-right: 20px; } /*** END : next / previous text links ***/ /*** START : added padding when navbar is on top ***/
.ontop #imageData {     padding-top: 5px; }
/*** END : added padding when navbar is on top ***/
#lightbox #toolbar{ 	position: absolute; 	right: 0; 	top: -50px; 	width: 200px; 	height: 200px; 	line-height: 1.4em; 	text-align: left; 	} #jqlb_closelabel{ 	height:26px; 	background-image:url('../images/lightbox/close.gif'); 	background-repeat:no-repeat;					background-position:left center; 	padding-left: 30px; }		#jqlb_showbig{ 	height:26px; 	background-image:url('../images/lightbox/big.gif'); 	background-repeat:no-repeat;					background-position:left center; 	padding-left: 30px; }	#toolbar #numberDisplay{   color: #FF9900; width: 200px; } #toolbar #bottomNavClose{ width: 100px; float: right;  padding-bottom: 0.7em;	 } #toolbar #showBig{ width: 100px; float: right;  padding-bottom: 0.7em;	} #toolbar a  div{color: #aaa; font-size: 0.9em; font-weight: 700; line-height: 26px; } #toolbar a:hover div{color: #fff; }
#helpDisplay { 	position: absolute; 	left: 0; font-size: 0.9em; 	top: -50px; color: #aaa; width: 240px; 	height: 26px; line-height: 26px;  }
#imageDataContainer{ 	font: 10px Verdana, Helvetica, sans-serif; 	background-color: #fff; 	margin: 0 auto; 	line-height: 1.4em; 	}
#imageData{ 	padding:0 10px; 	} #imageData #imageDetails{ width: 85%; float: left; text-align: left; 	line-height: 1.4em;padding-bottom: 10px; }	
#overlay{ 	position: absolute; 	top: 0; 	left: 0; 	z-index: 90; 	width: 100%; 	height: 500px; 	background-color: #000; 	filter:alpha(opacity=60); 	-moz-opacity: 0.6; 	opacity: 0.6; 	display: none; 	} 	
.clearfix:after { 	content: "."; 	display: block; 	height: 0; 	clear: both; 	visibility: hidden; 	}
* html>body .clearfix { 	display: inline-block; 	width: 100%; 	}
* html .clearfix { 	/* Hides from IE-mac \*/ 	height: 1%; 	/* End hide from IE-mac */ 	}	
#lightboxIframe { 	display: none; }	

/*** author popups styles ***/
.profile { background:url(../images/icon_autho.png) no-repeat left center; padding-left: 16px; }
.tooltip { position: absolute; top:0; left: 0; display: none; z-index: 999;  background:url(../images/tooltip.png); 	width: 200px;height: 120px; padding:20px 25px 30px 25px;	font-size:11px; }

.active{ display: block; }
.author-info  img{ float:left; width: 96px; margin:0 10px 10px 0; border:none; }
	.author-info{ text-align: left; }
		.author-info dl{ text-indent: 0px; }
		.author-info dd{ font-weight: 700; }
		.author-info dt{ font-size: 12px; line-height: 18px; padding: 0; font-weight: normal;}
		.author-info dt a { 	font-size: 12px; font-weight: normal; }

		
#audio object{  width: 250px;   }



/*** debate styles ***/
.debate h1{ font-size: 28px;  }
.debate{ width: 980px; padding:0px; float: left; }

.join-debate{ margin: 10px 0; }
.join-debate a{ background: #eee; width: 200px;letter-spacing: 10px; height: 22px; line-height: 22px; padding: 10px; text-align: center; border: 1px solid #ccc; margin: 0 auto; display: block; font-size: 16px; font-weight: 700; }

.debate .argue-stand{ width: 270px; height: 22px; font-size: 12px; line-height: 22px; text-align: right; padding-right: 30px; color: #eee; }
.debate .argue-stand span{ font-weight: 700; }
.debate .obverse{ background: url(../images/argue_long.gif) no-repeat top left; }
.debate .reverse{ background: url(../images/argue_long.gif) no-repeat 0px -22px; }
.debate .other{ background: url(../images/argue_long.gif) no-repeat bottom left; }


.debate .commentlist{ width: 300px; float: left; }
.debate .commentlist-margin{ margin-left: 35px;  }
.debate .commentlist li { margin-top: 10px; margin-bottom: 10px; padding: 0px; border-bottom: none;}
.debate img { border: 0px solid #ccc;}
.debate .arguelists{ padding: 0px; margin: 0px; }
.debate .comment-author .author-title{ background: #eee; padding-left: 10px; font-weight: normal;  line-height: 30px; margin-bottom: 0px; }
.debate .comment-author cite .replay-title,.replay-button a,.debate_side { font-size: 12px; font-weight: 700; }
.debate .commentlist li .comment-content { border: none; margin: none; }
.debate ol.commentlist ul.children { 	margin: 0px; padding:0; }
.debate ol.commentlist ul.children li { list-style-type: none;  }
.debate ol.commentlist ul li .comment-content { padding:0px; margin:0px;}
/* commentlist top level */
.debate ol.commentlist li .comment-content { padding-bottom: 10px; display:block; line-height:1.5em; margin:0; }
.debate 	ol.commentlist li p{ font-size: 12px; }

.debate .red { color: #930; font-weight: 700; }
.debate .red:hover { color: red; }

	.debate-stand-buttons span input { display: none; }

	label.stand-buttons{ margin:none; border: 1px solid #ccc; font-size: 12px; padding: 5px; cursor: pointer; }
	label.stand-button-lightup{ border:1px solid #B8D5B1;  background: url(../images/choose.png) no-repeat left center; padding-left: 25px; }